* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

.createTextRow {
    height: 40px;
    padding: 12px;
}

.divider{
    height: 1px;
    background-color: #b9b9b9
}
.time_div{
    width: 80vw;
    height: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.text_div{
    background: #ecf5ff;
    width: 80vw;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: 15px;
    /*div阴影效果*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /*突起*/
    transition: transform 0.2s ease-in-out;
}
.text_div:hover {
    background-color: #f5f3f3;
    transform: translateY(-5px);
}
.text_div:active {
    background-color: #e7e5e5;
}
.text_div.shake {
    transform: translateX(5px);
}


.text_content_div{
    width: 70vw;
    padding: 10px;
    border-radius: 4px;
    float: left
}
.text_button_div{
    width:10vw ;
    float: right;
}
.button_del{
    margin-right: 8px;
    float: right
}
.button_edit{
    float: right;
    margin-right: 8px;
}
#components-back-top-demo-custom .ant-back-top {
    bottom: 100px;
}
#components-back-top-demo-custom .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
}