* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

.time_div{
    width: 80vw;
    height: 15px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.text_div{
    background: #ecf5ff;
    width: 80vw;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-left: 15px;
    /*div阴影效果*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    /*突起*/
    transition: transform 0.2s ease-in-out;
}
.text_div:hover {
    background-color: #f5f3f3;
    transform: translateY(-5px);
}
.text_div:active {
    background-color: #e7e5e5;
}


.text_content_div{
    width: 65vw;
    padding: 10px;
    border-radius: 4px;
    float: left
}
.text_button_div{
    width:15vw ;
    float: right;
}
.button_del{
    float: right;
    margin-right: 8px;
}
.button_edit{
    float: right;
    margin-right: 8px;
}
.button_print{
    float: right;
    margin-right: 8px;
}


.label-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
}

.label {
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.label:hover {
    transform: translateY(-5px);
}

.label:active {
    transform: translateY(25px);
}